@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.message {
  margin: 20px !important;
}

.content {
  height: 100vh;
}

.header {
  background: yellow !important;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  text-align: left;
}

.header .menu {
  text-align: right;
}

.header button {
  margin-right: 5px;
}

.logo {
  height: 24px;
  padding-right: 10px;
}
